* {
    margin-top: 0;
    margin-left: 0;
}
html, all{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.all {
    background-image: url(/image/background_create_change.png);
    background-repeat: no-repeat;
    background-size: cover
}

.logo {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.email {
    color: rgb(255, 235, 160);
    border: 4px solid rgb(255, 235, 160);
    display: block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    text-align: center; 
}

.name {
    color: rgb(255, 235, 160);
    border: 4px solid rgb(255, 235, 160);
    display: block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    text-align: center; 
}

.date {
    color: rgb(255, 235, 160);
    border: 4px solid rgb(255, 235, 160);
    display: block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    text-align: center; 
}

.OK_RESET {
    display: flex;
    justify-content: center; 
    
}

.ok {
    justify-content: center;
    padding-top: 0.5%;
}

.box_ok {
    background-color: rgb(30, 30, 30);
    border: 4px solid rgb(255, 235, 160)
}

.text_box_ok {
    background-color: rgb(30, 30, 30);
    border: 3px solid black;
    border-radius: 6px;
    color: red;
}

.reset {
    color: rgb(255, 235, 160);
    border: 4px solid rgb(255, 235, 160);
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 70px;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
}

.submit {
    position: relative;
    color: rgb(30, 30, 30);
    border: 4px solid rgb(255, 235, 160);
    display: block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 235, 160);
    border-radius: 8px;
    overflow: hidden;
}

.submit:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgba(255, 174, 0, 0.5),
    -10px 10px 25px 0px rgba(255, 242, 121, 0.5);
    border: 4px solid rgb(255, 227, 65);
}

.submit:hover::after {
    transform: rotate(150deg);
}

.submit::after {
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: -40px;
    background-color: #fff069;
    background-image: linear-gradient(225deg, #ffffff 0%,
    #fff3cc 50%, #ffd900 100%);
    transition: all 0.25s ease;
    z-index: -1;
}

::placeholder {
    color: rgb(255, 235, 160);
    opacity: 1;
}

::-webkit-calendar-picker-indicator { 
    background-color:rgb(255, 235, 160);
}